<p id="notice"><%= notice %></p>

<p>
  <strong>Activitydate:</strong>
  <%= @room_issue.activityDate %>
</p>

<%= link_to 'Edit', edit_room_issue_path(@room_issue) %> |
<%= link_to 'Back', room_issues_path %>
