<h1>Listing port_models</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @port_models.each do |port_model| %>
      <tr>
        <td><%= link_to 'Show', port_model %></td>
        <td><%= link_to 'Edit', edit_port_model_path(port_model) %></td>
        <td><%= link_to 'Destroy', port_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Port model', new_port_model_path %>
