<h1>Listing oid_models</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @oid_models.each do |oid_model| %>
      <tr>
        <td><%= link_to 'Show', oid_model %></td>
        <td><%= link_to 'Edit', edit_oid_model_path(oid_model) %></td>
        <td><%= link_to 'Destroy', oid_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Oid model', new_oid_model_path %>
